{
    "eslintIntegration": true,
    "tabWidth": 4,
    "printWidth": 80,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "vueIndentScriptAndStyle": true,
    "arrowParens": "avoid"
}