.htContextMenu{
  z-index: 3000 !important;
}
.form-print-edit-dialog {
   .el-dialog__header {
    display: none;
}
  .el-dialog__body{
    padding: 0;
  }
  
  .print-header{
    padding: 20px 20px 10px;
    border-bottom: 1px solid #dcdfe6
  }

  .print-title_editor{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    max-width: 300px;
    
    input {
      max-width: 100%;
      padding: 0 2px;
      font-size: 18px;
      outline: 0;
      border: none;
      box-shadow: none;
      background: 0 0;
      border-bottom: dashed 1px #bababa;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0
    }
    
    input:focus {
        border-bottom: dashed 1px #333
    }
  }


  .el-tabs__content{
    padding: 0;
    height: calc(100vh - 110px) !important;
    .el-scrollbar__bar.is-horizontal{
      display: none;
    }
  }
  .el-tabs__item{
    padding: 0 10px !important;
  }

  .field-list {
    padding: 0 10px;
    bottom: 0;
    overflow: auto;
    width: 230px;
  }

  .print-field-item {
      background: #f9f9f9;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      display: block;
      height: 30px;
      line-height: 30px;
      text-align: left;
      border: 1px dashed #dbdbdb;
      margin-bottom: 5px;
      cursor: move;
      position: relative
  }

  .print-field-item:hover {
      background: #eaf5f9;
      border-color: #88dbf2
  }

  .print-field-subform {
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

 .print-field-subform i {
    color: #91ADCE;
    font-size: 14px;
    margin-right: 6px
}

  .subform-item i.icon-subform-turn {
    float: left;
    font-size: 5px;
    margin: 0 2px;
    line-height: 30px;
    color: #0DB3A6
}

  .print-field-item i {
      color: #91ADCE;
      font-size: 14px;
      margin: 0 6px
  }

  .print-field-item i.fa-undo {
      display: none
  }

  .print-field-item.selected {
      background: #f0f0f0;
      border: 0;
      cursor: default;
      padding-right: 25px
  }

  .print-field-item.selected:hover i.icon-undo {
      display: block
  }

  .print-field-item.selected i.icon-undo {
      position: absolute;
      top: 8px;
      right: 5px;
      color: #5c5c5c;
      cursor: pointer;
      font-size: 14px
  }

  .print-field-item.selected i.icon-undo:hover {
      color: #0DB3A6
  }

  .print-field-item.dragged {
      pointer-events: none;
      position: absolute;
      opacity: .8;
      z-index: 2000;
      background: #eaf5f9!important;
      border-color: #88dbf2!important
  }

  .hot-table-wrap{
    display: flex;
    height: 90vh;
    &.hot-word-bread-normal{
      .content{
        word-break: break-all !important;
        white-space: normal !important;
      }
    }
    .hot-card{
      height: 100%;
    }
    .hot-table-content{
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      td.fx_print_table{
        flex: 1;
        /*position: absolute;*/
        /*left: 0;*/
        /*right: 0;*/
        /*top: 0;*/
        /*bottom: 0;*/
        overflow: auto;
        line-height: 1.2;
        padding: 0;
        // border: 1px solid transparent;
        // border-right-color:  #CCC;
        // border-bottom-color:  #CCC;
        vertical-align: middle;
        position: relative;
        overflow: visible;
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: -1px;
          border: none #000 1px;
          z-index: 10;
        }
        &.cell-border-top{
          &::before{
            border-top-style: solid;
          }
        }
        &.cell-border-bottom{
          &::before{
            border-bottom-style: solid;
          }
        }
        &.cell-border-left{
          &::before{
            border-left-style: solid;
          }
        }
        &.cell-border-right{
          &::before{
            border-right-style: solid;
          }
        }
        &.cell-border-none{
          &::before{
            border-style: none;
          }
        }
        &.cell-border-width-none{
          &::before{
            border-width: 0;
          }
        }
        &.cell-border-width-1{
          &::before{
            border-width: 1px;
          }
        }
        &.cell-border-width-2{
          &::before{
            border-width: 2px;
          }
        }
        &.cell-border-width-3{
          &::before{
            border-width: 3px;
          }
        }
        &.cell-border-width-4{
          &::before{
            border-width: 4px;
          }
        }
        .wtHider{
          max-height: 100%;
          .htCore{
            border-collapse: collapse;
          }
        }
        .content{
          overflow: hidden;
          outline-width: 0;
          white-space: pre-line;
          background-clip: padding-box;
          word-break: keep-all;
          height: 100%;
        }
        .cell-image{
          background-size: contain;
          background-repeat: no-repeat;
          height: 100%;
          display: block;
        }
        .data{
          display: inline-block;
          width: 100%;
          height: 100%;
          &::after{
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .hot-table-wrap{
    flex: 1;
    overflow: hidden;
    position: relative;
    .paper-vertical{
      width: 0;
      bottom: 0;
      position: absolute;
      border-left: dashed 1px #D91E18;
      z-index: 50;
    }
    .paper-horizontal{
      height: 0;
      right: 0;
      position: absolute;
      border-top: dashed 1px #D91E18;
      z-index: 50;
    }
  }
  td {
    overflow: visible;
    font-size: 12px;
    line-height: 1.2;
    background: 0 0;
    position: relative;
	z-index: 1;
}

  td:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -1px;
    border: none #000 1px;
    z-index: 10
}
  
//边框

.border-left:before {
  border-left-style: solid
}

.border-right:before {
  border-right-style: solid
}

.border-bottom:before {
  border-bottom-style: solid
}

.border-top:before {
  border-top-style: solid
}

.border-width-0:before {
  margin: -.5px;
  border-width: 0
}

.border-width-1:before {
  margin: -1px;
  border-width: 1px
}

.border-width-2:before {
  margin: -1.5px;
  border-width: 2px
}

.border-width-3:before {
  margin: -2px;
  border-width: 3px
}

.border-width-4:before {
  margin: -2.5px;
  border-width: 4px
}

.bold {
  font-weight: 700
}

.italic {
  font-style: italic
}

.underline span {
  text-decoration: underline
}

.htTop span {
  vertical-align: top
}

.htTop .background-img {
  background-position-y: top
}

.htMiddle span {
  vertical-align: middle
}

.htMiddle .background-img {
  background-position-y: center
}

.htBottom span {
  vertical-align: bottom
}

.htBottom .background-img {
  background-position-y: bottom
}

.htLeft .background-img {
  background-position-x: left
}

.htCenter .background-img {
  background-position-x: center
}

.htRight .background-img {
  background-position-x: right
}

.paper-background {
  position: absolute;
  z-index: 0;
  overflow: hidden
}
 .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat
}

.paper-vertical {
  width: 0;
  bottom: 0;
  position: absolute;
  border-left: dashed 1px #D91E18;
  z-index: 50;
}

.paper-horizontal {
  height: 0;
  right: 0;
  position: absolute;
  border-top: dashed 1px  #D91E18;
  z-index: 50;
}

.font-size-9 {
  font-size: 12px
}

.font-size-10 {
  font-size: 13.33px
}

.font-size-11 {
  font-size: 14.67px
}

.font-size-12 {
  font-size: 16px
}

.font-size-13 {
  font-size: 17.33px
}

.font-size-14 {
  font-size: 18.67px
}

.font-size-15 {
  font-size: 20px
}

.font-size-16 {
  font-size: 21.33px
}

.font-size-17 {
  font-size: 22.67px
}

.font-size-18 {
  font-size: 24px
}

.font-size-19 {
  font-size: 25.33px
}

.font-size-20 {
  font-size: 26.67px
}

.font-size-21 {
  font-size: 28px
}

.font-size-22 {
  font-size: 29.33px
}

.font-size-23 {
  font-size: 30.67px
}

.font-size-24 {
  font-size: 32px
}

.font-size-25 {
  font-size: 33.33px
}

.font-size-26 {
  font-size: 34.67px
}

.font-size-27 {
  font-size: 36px
}

.font-size-28 {
  font-size: 37.33px
}

.font-size-29 {
  font-size: 38.67px
}

.font-size-30 {
  font-size: 40px
}

.font-size-31 {
  font-size: 41.33px
}

.font-size-32 {
  font-size: 42.67px
}

.font-size-33 {
  font-size: 44px
}

.font-size-34 {
  font-size: 45.33px
}

.font-size-35 {
  font-size: 46.67px
}

.font-size-36 {
  font-size: 48px
}

.ff-SimSum {
  font-family: SimSun,STSong
}

.ff-SimHei {
  font-family: SimHei,STHeiti
}

.ff-KaiTi {
  font-family: KaiTi,STKaiti
}

.paper-background {
  position: absolute;
  z-index: 0;
  overflow: hidden
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat
}

  }